Exer11.css

*{
    box-sizing: border-box;
}


.one{
    background-color:#e5e5e5;
    float:left;
    width:48%;
    margin:1%;
}
.two{
    background-color:#e5e5e5;
    float:left;
    width:48%;
    margin:1%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.three{
    background-color:#e5e5e5;
    float:left;
    width:100%;
   
}

.four{
    background-color:#e5e5e5;
    float:left;
    width:31%;
    margin:1%;
}

.five{
    background-color:#e5e5e5;
    float:left;
    width:31%;
    margin:1%;
}

.six{
    background-color:#e5e5e5;
    float:left;
    width:32%;
    margin:1%;
}

.seven{
    background-color:#e5e5e5;
    float:right;
    width:23%;
    margin: 1%;
    
}

.eight{
    background-color:#e5e5e5;
    float:right;
    width:23%;
    margin: 1%;
}

.nine{
    background-color:#e5e5e5;
    float:right;
    width:23%;
    margin: 1%;
}

.ten{
    background-color:#e5e5e5;
    float:right;
    width:23%;
    margin: 1%;
}

@media only screen and (max-width:620px) {
    .one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .ten {
    width:100%;
     }
}